# Things to NOT ignore
!.gitignore

# Ignore hidden folders
.*

# Ignore some specific directories
custom_components/**

# Ignore some specific files
alexa_media*

# ignore any of these file patterns no matter where they live in the directory structure using double *
**.HA_VERSION
**.log*
**.db*

**ip_bans.yaml
**known_devices.yaml
**secrets*
